@tailwind base;
@tailwind components;
@tailwind utilities;

.text {
    padding-top: 15%;
}

#section22 {
    background-image: linear-gradient(
            rgba(40, 39, 39, 0.8),
            rgba(40, 39, 39, 0.8)
        ),
        url("../../public/medias/LITTLEBANNER.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.hauteur {
    height: 800px;
}
.hauteur2 {
    height: 400px;
}

#section11 {
    background-image: url("../../public/medias/triangle.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* ACTIVE-LINK / ANCRE */
/* .active {
    text-decoration: underline;
  } */

.hauteurCarousel {
    height: 700px;
}
@media (max-width: 650px) {
    .hauteurCarousel {
        height: 500px;
    }
}
.splide {
    background-color: rgb(241 245 249) !important;
}
.splide_slide_focus {
    background-color: aqua !important;
}
